bin/
obj/
obj/project.assets.json
obj/project.nuget.cache
obj/rootrain.csproj.nuget.dgspec.json
obj/rootrain.csproj.nuget.g.props
obj/rootrain.csproj.nuget.g.targets
obj/cosmos/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
obj/cosmos/Debug/net6.0/rootrain.AssemblyInfo.cs
obj/cosmos/Debug/net6.0/rootrain.AssemblyInfoInputs.cache
obj/cosmos/Debug/net6.0/rootrain.assets.cache
obj/cosmos/Debug/net6.0/rootrain.csproj.AssemblyReference.cache
obj/cosmos/Debug/net6.0/rootrain.csproj.CoreCompileInputs.cache
obj/cosmos/Debug/net6.0/rootrain.csproj.FileListAbsolute.txt
obj/cosmos/Debug/net6.0/rootrain.dll
obj/cosmos/Debug/net6.0/rootrain.GeneratedMSBuildEditorConfig.editorconfig
obj/cosmos/Debug/net6.0/rootrain.pdb
obj/cosmos/Debug/net6.0/ref/rootrain.dll
obj/cosmos/Debug/net6.0/refint/rootrain.dll
obj/Debug/net6.0/rootrain.assets.cache
obj/Debug/net6.0/rootrain.csproj.AssemblyReference.cache
obj/Debug/net6.0/rootrain.csproj.BuildWithSkipAnalyzers
obj/Debug/net6.0/rootrain.csproj.CoreCompileInputs.cache
obj/Debug/net6.0/rootrain.csproj.FileListAbsolute.txt
obj/Debug/net6.0/rootrain.dll
obj/Debug/net6.0/rootrain.pdb
obj/Debug/net6.0/ref/rootrain.dll
obj/Debug/net6.0/refint/rootrain.dll
